body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.clock {
    width: 350px;
    height: 350px;
    background-image: url(clock.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.clock::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.clock .hour,
.clock .minute,
.clock .second {
    position: absolute;
}

.clock .hour, .hr {
    width: 170px;
    height: 170px;
}

.clock .minute, .min {
    width: 200px;
    height: 200px;
}

.clock .second, .sec {
    width: 230px;
    height: 230px;
}

.hr, .min, .sec {
    display: flex;
    justify-content: center;
    position: absolute;
}

.hr::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 105px;
    border-radius: 5px;
    background-color: black;
}

.min::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 120px;
    border-radius: 3px;
    background-color: black;
}

.sec::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 135px;
    border-radius: 2px;
    background-color: black;
}